<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="HarveyNorman\Promotional\Api\ProductRepositoryInterface" type="HarveyNorman\Promotional\Model\ProductRepository"/>
    <preference for="HarveyNorman\Promotional\Api\Data\ProductInterface" type="HarveyNorman\Promotional\Model\Product"/>
    <preference for="HarveyNorman\Promotional\Api\Data\ProductSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <virtualType name="HarveyNorman\Promotional\Model\ResourceModel\Product\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">harveynorman_promotional_product</argument>
            <argument name="resourceModel" xsi:type="string">HarveyNorman\Promotional\Model\ResourceModel\Product\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="harveynorman_promotional_product_listing_data_source" xsi:type="string">HarveyNorman\Promotional\Model\ResourceModel\Product\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <!-- Register Console Command -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="harveynorman_promotional_publish_test" xsi:type="object">HarveyNorman\Promotional\Console\Command\PublishTestMessage</item>
            </argument>
        </arguments>
    </type>

    <!-- rabbitmq Producer Command line Class Configuration -->
    <type name="HarveyNorman\Promotional\Console\Command\PublishTestMessage">
        <arguments>
            <argument name="serializer" xsi:type="object">Magento\Framework\Serialize\Serializer\Json</argument>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
        </arguments>
    </type>

    <!-- rabbitmq Consumer Class Configuration -->
    <type name="HarveyNorman\Promotional\Model\Queue\Consumer">
        <arguments>
            <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
            <argument name="serializer" xsi:type="object">Magento\Framework\Serialize\Serializer\Json</argument>

            <!--
            <argument name="productRepository" xsi:type="object">Magento\Catalog\Api\ProductRepositoryInterface</argument>
            <argument name="promoHelper" xsi:type="object">HarveyNorman\Promotional\Helper\Data</argument>
            -->
        </arguments>
    </type>

</config>
